# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
*.npy
*.npz
*.pt

# Output files
out_*

# Notebook checkpoints
*.ipynb_checkpoints/

# VSCode settings
.vscode/
